.dashboardContainer{
    display: flex;
    justify-self: flex-start;
}
.chart{
    padding-left: 80px;
    padding-top: 40px;
    width: 450px;
    height: 100px;
    display: flex;
    flex-direction: column;
}
.chartTypes{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
.chartLinks{
    color: white;
    text-decoration: none;
}
.details{   
    padding-left: 270px;
    font-size: 20px;
    color: white;
}
.heading{
    font-weight: bold;
}
