.dashboardContainer{
    display: flex;
    justify-self: flex-start;
}
.chart{
    padding-left: 80px;
    padding-top: 20px;
    height: 100px;
    display: flex;
    flex-direction: column;
}
.wrapper {
    height: 270px !important;
    width: 540px !important;
    }
.chartTypes{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
.chartLinks{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
.link{
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.details{   
    padding-left: 240px;
    font-size: 20px;
    color: white;
}

