.Container{
    display: flex;
}
.AccountDetails{
    display: flex;
    flex-direction: column;
    padding-left: 90px;
    
}
.lightimage{
  mix-blend-mode: lighten;
  padding-left: 60px;
  width: 530px;
  height: 350px;
}
h3{
    color: white;
}
.paragraph{
    color: white;
    font-size: 16px;
}
.meterText{
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.textBoxContainer {
    padding-top: 5px;
}
.textBox{
    width: 250px;
    padding-top: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
}
.confrimButtonConatiner {
    padding-top: 20px;
}
.confrimButton{
    width: 120px;
    height: 40px;
    background: #7448BC;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;

    border: none;
    cursor: pointer;
}

.errorMessage{
    padding-top: 10px;
    color:rgb(235, 120, 250);
    font-size: 16px;
    font-weight: bold;
}