.loginContainer {
  display: flex;
  justify-self: flex-start;
}
.loginBox {
  padding-left: 200px;
  display: flex;
  flex-direction: column;
  color: white;
}
.email {
  width: 200px;
  height: 33px;
  padding-top: 50px;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}
.textBox {
  width: 250px;
  height: 30px;
}
.password {
  width: 200px;
  height: 43px;
  padding-top: 20px;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}
.submitButton {
  display: flex;
  align-content: flex-start;
  padding-top: 30px;
  align-items: center;
}
.loginButton {
  background-color: #7448bc;
  font-weight: bold;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  color: white;
}
.forgotPassword {
  font-size: 16px;
  font-style: italic;
  color: white;
  width: 230px;
  text-align: center;
  padding-left: 20px;
}
.lightImage {
  mix-blend-mode: lighten;
  padding-left: 250px;
  top: 150px;
  width: 530px;
  height: 350px;
}
.socialMediaContainer {
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
}
.Google {
  padding-left: 20px;
}
.Facebook {
  padding-left: 30px;
}
.sociaLoginButton {
  display: flex;
  justify-content: space-around;
  background: #ffffff;
  border-radius: 20px;
  border: none;
  width: 200px;
  height: 40px;
  font-size: 15px;
  color: #040196;
  align-items: center;
  line-height: 20px;
}
.image {
  width: 20px;
  height: 20px;
}
.emailPasswordText {
  font-weight: bold;
  padding-top: 20px;
}
