.logincontainer{
    display: flex;
    justify-self: flex-start;
}
.loginBox{
    position: absolute;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    
}
.email{
    width: 200px;
    height: 33px;
    left: 20px;
    padding-top: 50px;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}
.emailbtn{
    width: 400px;
    height: 30px;
}
.password{
    width: 200px;
    height: 43px;
    left: 20px;
    padding-top: 90px;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}
.passwordbtn{
    width: 400px;
    height: 30px;
}
.submit{
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    padding-top: 100px; 
}
.loginbtn{
    background-color: #7448BC;
    font-weight: bold;
    width: 120px;
    height: 60px;
    border-radius: 20px;
    font-size: 24px;
    line-height: 36px;
    color: white;
}
.forgotpwd{
    font-size: 20px;
    font-style: italic;
    color: white;
    width: 230px;
    text-align: center;
}
.lightimage{
    mix-blend-mode: lighten;
    padding-left: 800px;
    top: 151px;
    width: 700px;
    height: 450px;
}
.socialmediacontainer{
    display: flex;
    padding-top: 80px;
}
.Google{
    padding-left: 20px;
}
.Facebook{
    padding-left: 30px;
}
.loginButton{
    background: #FFFFFF;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    font-size: 15px;
    color: #040196;
    align-items: center;
    line-height: 20px;
}
.image{
    width: 33px;
    height: 33px;
}